.place__title {
  grid-area: title;
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 1;
  color: #fff;
  max-width: 460px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .place__title {
    line-height: 1.05;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 1.09;
    max-width: 340px;
  }
}

@media screen and (max-width: 425px) {
  .place__title {
    font-size: 32px;
  }
}

@media screen and (max-width: 400px) {
  .place__title {
    max-width: 288px;
    margin: 0 auto;
  }
}
