.content__item:first-child {
  margin-top: 56px;
}

.content__item {
  margin: 0 auto 92px;
}

@media screen and (max-width: 1024px) {
  .content__item:first-child {
    margin-top: 48px;
  }

  .content__item {
    margin: 0 auto 89px;
  }
}

@media screen and (max-width: 768px) {
  .content__item {
    margin: 0 auto 84px;
  }
}

@media screen and (max-width: 425px) {
  .content__item {
    margin: 0 auto 64px;
  }
}
