.footer__list-item:not(:last-of-type) {
  margin-right: 18px;
}

@media screen and (max-width: 730px) {
  .footer__list-item:not(:last-of-type) {
    margin: 0 0 32px;
  }

  .footer__list-item:last-of-type {
    margin: 0 0 48px;
  }
}
